// Record player inspiration by Kofe: https://dribbble.com/shots/2613678-Music-Player
// Playlist: https://soundcloud.com/ryanjohndee/sets/small-multiples
main
  .player
    .record
      .label
        h2 ryan johndee
        h3 small multiples
      .spindle
    .arm-container
      .knob.weight.bottom
      .arm
      .knob.weight.top
        button.play
          .tooltip click on this
    .speaker
      each hole in new Array(8)
        .hole
    .knob.volume.bottom 
      .down
      .up
    .knob.volume.top
footer
 a(href="https://dribbble.com/shots/2613678-Music-Player") Visual inspiration
 a(href="https://soundcloud.com/ryanjohndee/sets/small-multiples") See playlist